$textWhite: #fff;
$textSecondWhite: #e6ebff;
$textOrange: #ff7315;
$textBlack: #232020;
$textGray: #6b778d;

$backgroundWhite: #fff;
$backgroundBlack: #232020;
$backgroundOrange: #ff7315;
$backgroundSidebarRight: #0d1326;
$backgroundSection3: #f4f4f4;
$backgroundGray: rgba(255, 255, 255, 0.141);

$heightSection1: 736px;
$widthContainer: 1140px;
