// biến trong sass
// $primary:red;
// cách dùng color: $primary

$textWhite: #fff;
$textOrange: #ff7315;
$textBlack: #232020;
$textGray: #6b778d;

$backgroundWhite: #fff;
$backgroundOrange: #ff7315;
$backgroundSidebarRight: #0d1326;
$backgroundGray: rgba(255, 255, 255, 0.141);

$heightSection1: 736px;
