$textWhite: #fff;
$textSecondWhite: #e6ebff;
$textOrange: #ff7315;
$textBlack: #232020;
$textGray: #6b778d;

$backgroundWhite: #fff;
$backgroundBlack: #232020;
$backgroundOrange: #ff7315;
$backgroundSidebarRight: #0d1326;
$backgroundSection3: #f4f4f4;
$backgroundLoginUser: #3a3535;
$backgroundGray: rgba(255, 255, 255, 0.141);

$heightSection1: 736px;
$heightSection9: 768px;
$heightSection4: 512px;
$heightSection6: 510.4px;
$widthContainer: 1140px;

$fontFamilySegoeUI: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
