@import "./variables";
@import "./mixins";
// sass assets/sass/style.scss assets/css/style.css --watch

body {
	font-family: "Lato", sans-serif;
	background-color: $textGray;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

::selection {
	background-color: $backgroundOrange;
	color: $textWhite;
}

#header {
	top: 0;
	left: 0;
	padding: 15px 15px 0;
	position: absolute;
	background-color: transparent;
	z-index: 2;
}

.header__content {
	color: $textWhite;
	font-size: 14px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	&--link {
		margin-left: 6px;
		font-size: 15px;
		font-weight: 600;
		font-family: "Lato", sans-serif;
		text-transform: capitalize;
	}
	&--icon {
		margin: 0 4px;
	}
	&--more {
		font-family: $fontFamilySegoeUI;
		color: $textOrange;
		font-size: 15px;
		text-transform: capitalize;
		&:hover {
			text-decoration: underline;
		}
	}
}

.header__list {
	padding: 0 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.header__item {
		color: $textWhite;
		&--link {
			padding: 6px 11px;
			display: block;
			background-color: $backgroundGray;
			border-radius: 100rem;
			&:hover {
				background-color: $backgroundOrange;
			}
		}
		.btn--cart {
			margin-left: 16px;
			font-weight: 600;
			padding: 6px 20px;
			color: $textWhite;
			background-color: $backgroundGray;
			border-radius: 25px;
			text-transform: capitalize;
			&:hover {
				background-color: $backgroundOrange;
			}
		}
	}
}

.navbar-brand {
	padding: 0;
	color: $textWhite;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	&:hover {
		color: $textWhite;
		opacity: 0.9;
	}
	.navbar--orange {
		color: $textOrange;
		font-family: $fontFamilySegoeUI;
	}
}

.navbar--search {
	margin-left: 60px;
	color: $textWhite;
	font-size: 20px;
	font-weight: 400;
	&:hover {
		color: $textWhite;
	}
	.navbar--icon {
		margin-right: 8px;
	}
}

.navbar-nav {
	.nav-item {
		margin: 0 10px;
		&:nth-child(3) {
			position: relative;
		}
		.nav-link {
			color: $textWhite;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			&.active {
				color: $textOrange;
			}
			&:hover {
				color: $textOrange;
			}
		}
	}
}

#menu--sidebar {
	padding: 40px 5px;
	background-color: #fff;
	position: fixed;
	top: 120px;
	right: 0;
	z-index: 10;
	background-color: $backgroundSidebarRight;
	border-radius: 8px 0 0 8px;
	.menu--link {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $textSecondWhite;
		opacity: 0.6;
		margin-bottom: 20px;
		font-weight: 400;
		&:hover {
			opacity: 1;
		}
		.menu--title {
			font-family: $fontFamilySegoeUI;
		}
		.menu--icon {
			transform: rotate(180deg);
		}
	}
}

#section1 {
	height: $heightSection1;
}

.carousel-inner {
	height: $heightSection1;
	.carousel-item {
		.carousel--img {
			opacity: 0.8;
			user-select: none;
			object-fit: cover;
			height: $heightSection1;
		}
		.carousel-caption {
			padding: 0;
			top: 45%;
			left: 15%;
			width: 50%;
			display: flex !important;
			flex-direction: column;
			align-items: flex-start;
			.carousel--title {
				margin-bottom: 40px;
				color: $textWhite;
				font-size: 62px;
				font-weight: 500;
				font-family: "Oswald", san-serif;
				text-align: left;
				text-transform: uppercase;
			}
			.carousel--link {
				padding: 10px 26px;
				color: $textBlack;
				border-radius: 25px;
				background-color: $backgroundWhite;
				&:hover {
					color: $textWhite;
					transition: 0.2s ease-in;
					background-color: $backgroundOrange;
				}
			}
		}
	}
}

.aside--right {
	position: relative;
	background: url(../images/left3.jpg) no-repeat;
	background-size: cover;
	.aside--title {
		position: absolute;
		top: 50%;
		right: 0%;
		color: $textWhite;
		font-size: 56px;
		font-weight: 500;
		font-family: "Oswald", san-serif;
		text-transform: uppercase;
		transform: translate(-25%, -50%);
	}
}

#section2 {
	background-color: $backgroundWhite;
	.container {
		padding: 0 15px;
		width: $widthContainer;
		.section__content {
			text-align: center;
		}
		.section--description {
			margin-top: 0;
			text-align: center;
		}

		.card--link {
			position: relative;
			display: block;
			.container--product {
				@include size(125px);
				display: none;
				opacity: 0;
				position: absolute;
				top: 12%;
				left: 12%;
				color: $textWhite;
				transform: translate(-50%, -50%);
				z-index: 3;
				justify-content: center;
				align-items: center;
				transform: rotate(45deg);
				border-radius: 100rem;
				animation: hoverProduct 0.3s ease-in-out alternate;
				background-color: rgba(31, 28, 28, 0.74902);
				.product--title {
					transform: rotate(-45deg);
					font-size: 20px;
					font-weight: 600;
					font-family: "Oswald", sans-serif;
					animation: hoverProduct 0.3s ease-in-out alternate;
				}
			}
			&:hover .container--product {
				display: flex;
				opacity: 1;
				color: $textOrange;
			}
			.card--img {
				object-fit: cover;
				border-radius: 100rem;
			}
			@keyframes hoverProduct {
				0% {
					clip-path: ellipse(10% 49% at 49% 50%);
					opacity: 0.2;
				}
				25% {
					clip-path: ellipse(20% 49% at 49% 50%);
					opacity: 0.4;
				}
				50% {
					clip-path: ellipse(30% 49% at 49% 50%);
					opacity: 0.6;
				}
				75% {
					clip-path: ellipse(40% 49% at 49% 50%);
					opacity: 0.8;
				}
				100% {
					clip-path: ellipse(50% 49% at 49% 50%);
					opacity: 1;
				}
			}
		}
		.card__title {
			margin-top: 20px;
			color: $textBlack;
			cursor: pointer;
			font-size: 18px;
			font-weight: 600;
			text-align: center;
			text-transform: capitalize;
			transition: 0.2s ease-in-out;
			&:hover {
				color: $textOrange;
			}
		}
	}
}

.section__content {
	margin-top: 16px;
	color: $textBlack;
	font-size: 40px;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	&--orange {
		margin-left: 10px;
		color: $textOrange;
		font-family: $fontFamilySegoeUI;
	}
}
.section--description {
	margin: 24px 0 40px;
	color: $textGray;
	font-weight: 400;
}

#section3 {
	background-color: $backgroundSection3;
	.container {
		padding: 0 15px;
		width: $widthContainer;
		.section3--img {
			object-fit: cover;
			border-radius: 6px;
		}
	}
}

.btn-default {
	display: inline-block;
	padding: 12px 32px;
	color: $textWhite;
	font-weight: 600;
	border-radius: 25px;
	background-color: $backgroundBlack;
	&:hover {
		color: $textWhite;
		background-color: $backgroundOrange;
	}
}

#section4 {
	height: $heightSection4;
	.section4__play {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			background-color: rgba(21, 19, 19, 0.43);
			top: 0;
			left: 0;
			@include size(100%);
		}
		&--img {
			height: $heightSection4;
			display: block;
			object-fit: cover;
		}
		&--link {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 18px 27px;
			color: $textWhite;
			font-size: 24px;
			background-color: #ffffff33;
			border-radius: 100rem;
			&:hover {
				background-color: $backgroundOrange;
			}
		}
	}
	.section4--bgr {
		padding: 56px 72px;
		background-color: $backgroundWhite;
	}
}

#section5 {
	background-color: $backgroundWhite;
	padding: 48px 0;
	.container {
		width: $widthContainer;
		padding: 48px 15px;
		.section__content {
			text-align: center;
			margin-top: 0;
		}
		.section--description {
			text-align: center;
			margin: 0 0 48px;
		}
		.row {
			margin: 0 -15px;
			.col-lg-3 {
				padding: 0 15px;
				.section5__card {
					&--link {
						.section5__card--img {
							display: block;
							object-fit: cover;
						}
						.section5__img--hover {
							display: none;
							object-fit: cover;
						}
					}
				}
				.section5__content {
					padding: 20px 10px;
					text-align: center;
					&--title {
						margin-bottom: 6px;
						.section5__content--link {
							display: block;
							font-size: 18px;
							font-weight: 700;
							color: $textBlack;
							&:hover {
								color: $textOrange;
							}
						}
					}
					&--price {
						color: $textBlack;
						font-size: 15px;
						font-weight: 700;
						del {
							margin-right: 6px;
							color: $textGray;
							font-weight: 400;
							font-family: $fontFamilySegoeUI;
						}
					}
				}
			}
		}
	}
}

#section6 {
	position: relative;
	height: $heightSection6;
	&::before {
		content: "";
		position: absolute;
		background-color: rgba(21, 19, 19, 0.43);
		top: 0;
		left: 0;
		@include size(100%);
	}
	.section6--img {
		display: block;
		width: 100%;
		height: $heightSection6;
		object-fit: cover;
	}
	.section6__container--content {
		width: 37%;
		position: absolute;
		@include centered;
		.section__content {
			margin-top: 0;
			color: $textWhite;
			text-align: center;
		}
		.section--description {
			color: $textWhite;
			text-align: center;
			margin-bottom: 36px;
		}
		.btn-default {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			color: $textBlack;
			background-color: $backgroundWhite;
			&:hover {
				color: $textWhite;
				background-color: $backgroundOrange;
			}
		}
	}
}
